<header class="header">
  <div><h1>{{ title }}</h1></div>
</header>
<div class="container">
  <div class="leftPanel">
       <div class="title"><h1>Welcome to ATM</h1></div>
       <div class="atmContainer">
        <form [formGroup]="atmForm" (ngSubmit)="onSubmit()">
         <div class="label common-cls">
          <label>
            Enter the amount
           
          </label>
        </div>
        <div class="inputControl common-cls">       
          <input type="number" formControlName="amount" />
        </div>
   
          <button type="submit" class="btn-style" style=" " [disabled]="!atmForm.valid">Get Money</button>
         </form>
       </div>
  </div>
  <div class="rightPanel">
         <div><router-outlet></router-outlet></div>
  </div>
</div>
<!--<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side"> <div style="width:250px"></div> </mat-drawer>
  <mat-drawer-content> <router-outlet></router-outlet> </mat-drawer-content>
</mat-drawer-container>-->
