.example-container {
  width: 96%;
  height: 88%;
  margin: 10px;
  border: 1px solid #eee;
}
.header{
  width: 96%;
  height: 100px;
  background-color: blue;
  color: #fff;
  margin: 1%;
  padding: 1%;
  text-align: center;
}
.container{
  height: 500px;
  background-color: #eee;
  color: #000;
  margin: 1%;
  padding: 1%;
}
.leftPanel{
  position: relative;
  float:left;
  height: 450px;
  background-color: #fff;
  color:#000;
  width: 48%;
  margin:1%;
}
.rightPanel{
  position: relative;
  float:left;
  height:450px;
  background-color: #eee;
  color:#000;
  width: 48%;
  margin:1%;
}
.title{
  text-align:center;
  margin-top:10px;
  color:#000;
}
.atmContainer{
  text-align:center;
  padding : 20px;
}
.label{
  text-align:left;
  margin:0px 0px -24px 164px;
}
.common-cls{
  padding:20px;
  width:250px;
  height:20px;
}
input {
  width:100%;
  height: 25px;
}
.btn-style{
  width: 250px;
  height: 43px;
  background-color: blue;
  color:#fff;
}
.inputControl{
  text-align: center;
  margin: 0 0 0 163px;
  width:246px;
}