<!--<div class="example-sidenav-content">
  <button mat-fab color="primary" (click)="openDialog()">+</button>
</div>-->

<table mat-table [dataSource]="notes" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="first">
      <td mat-cell *matCellDef="let element"> {{element.first}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="second">
      <td mat-cell *matCellDef="let element"> {{element.second}} </td>
    </ng-container>
  
    
    
    
  
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  